[Unit]
Description=KGrid Activator
After=syslog.target network.target

[Service]
User=kgrid
ExecStart=/var/kgrid/kgrid-activator.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
